* {
    margin: 0;
    padding: 0;
    color: #334433;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ededed;
    font-family: "Roboto Light", sans-serif;
}

header {
    height: 60px;
    padding: 0 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.1);
}

.icon img{
    height: 40px;
    width: 40px;
}
button {
    cursor: pointer;
}

.content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.contact *{
    padding-left: 15px;
}

input {
    border: none;
    outline: none;
    background-color: #ededed;
    padding: 8px;
    margin: -8px;
    width: 280px;
}

/**/

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: lightskyblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/**/

.action-btns {
    width: 1020px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.action-btns button {
    width: 120px;
    padding: 8px 0;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.1);
}
.action-btns button:hover {
        color: white;
    background-color: grey;
}
.nav button{
    margin-left: 0px;
}

.table {
    width: 1040px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.1);
    padding: 20px 0;
    margin:  0 10px 20px 10px;
}

.card *{
    padding: 4px;
}

.card img {
    height: 100px;
    width: 100px;
    border-radius: 100px; /* Радиус скругления */
    border: 1px solid #737879; /* Параметры рамки */
}



.card button {
    width: 100px;
    padding: 8px 0;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.1);
}
.card button:hover{
    background-color: #5078be;
    color: white;
}
.rating {
    font-size: 2rem;
    color: gold;
}

.description {
    color: #bbbbbb;
}
.stars input {
    position: absolute;
    left: -999999px;
}

.stars a {
    display: inline-block;
    padding-right:4px;
    text-decoration: none;
    margin:0;
}

.stars a:after {
    position: relative;
    font-size: 18px;
    font-family: 'FontAwesome', serif;
    display: block;
    content: "\f005";
    color: #9e9e9e;
}


span {
    font-size: 0; /* trick to remove inline-element's margin */
}

.stars a:hover ~ a:after{
    color: #9e9e9e !important;
}
span.active a.active ~ a:after{
    color: #9e9e9e;
}

span:hover a:after{
    color:gold !important;
}

span.active a:after,
.stars a.active:after{
    color:gold;
}

{
    box-sizing: border-box;
}


.table {
    display: flex;
    flex-wrap: wrap;
}
.burger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.card {
    flex: 25%;
    padding: 20px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.1);
    margin:  0 10px 20px 10px;
    max-width: 250px;
}


@media screen and (max-width: 992px) {
    .table {
        width: auto;
        margin-left: 70px;
        display: flex;
        flex-wrap: wrap;

    }
}
@media screen and (max-width: 1024px) {
    .table {
        width: auto;
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;

    }
}

@media screen and (max-width: 1024px) {
    .card {
        flex: 40%;
    }
}


@media screen and (max-width: 600px) {
    .table {
        flex-direction: column;

    }
}

@media screen and (max-width: 1024px) {
    .card {
        flex: 40%;

    }
}
@media screen and (max-width: 1024px) {
    .action-btns {
        width: auto;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 750px) {
    .search {
        display: none;
    }
    .contact {
        display: none;
    }
    .dropdown{
        display: none;
    }
    .logo{
       display: none;
    }
    .burger div{
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        display: block;
    }
}




